<app-header></app-header>
    <main>
      <section id="home">
        <app-hero></app-hero>
      </section>
      <section id="about">
        <app-about></app-about>
      </section>
      <section id="skills">
        <app-skills></app-skills>
      </section>
      <section id="projects">
        <app-projects></app-projects>
      </section>
      <section id="contact">
        <app-contact></app-contact>
      </section>
    </main>
    <app-footer></app-footer>
    
    <button 
      class="scroll-to-top" 
      *ngIf="showScrollButton" 
      (click)="scrollToTop()"
      [@fadeInOut]>
      <i class="fas fa-arrow-up"></i>
    </button>